body {
    font-family: 'myFont', Fallback, sans-serif;
      color: #ffffff;
      width: 100%;
      height: 100%;
      position:fixed;
      right:0;
      left: auto;
      background-color: #000000;  
  }
  
  .btn {
    background-color: white;
    text-align: center;
    color: #000000;
    border-radius: 12px;
    font-size: 20px;
  }

  #output {
    color: white;
    font-size: 25px;
    text-align: center;
  }

  .background {
      position: fixed;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      z-index: -1;
  }
  .background img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      border: 0;
  }
  div.outer {
      width: 100%;
      height: 100%;
      padding: 0;
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
  }
  div.middle {
      padding: 0;
      vertical-align: middle;
      display: table-cell;
      margin: 0;
  }
  div.inner {
      width: 420px;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
  }
  .brief {
    text-align: left;
    font-size: 20px;
  }
  div.name {
      font-weight: 200;
      font-size: 3em;
  }
  div.summary {
      font-weight: 200;
      font-size: 1.4em;
  }
  div.bio {
      font-size: 1.1em;
      margin: 30px auto;
  }
  div.line {
      margin: 20px auto;
      width: 75%;
      border-bottom: 1px dotted #ffffff;
  }
  div.icons {
      text-align: center;
      margin-top: 5%;
  }

  .bottom {
    margin-top: 20px;
  }

  .button {
      width: 40px;
      height: 40px;
      opacity: 0.7;
  }
  a {
      text-decoration: none;
  }
  a:link {
      color: #ffffff;
  }
  a:visited {
      color: #ffffff;
  }
  a:hover {
      color: #ffffff;
  }
  a:active {
      color: #ffffff;
  }