body{
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

div, p, a, img, form, button{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}

.header{
    
}

.conteineer{
    width: 1140px;
    margin: 0 auto;

}

.nav{
    display: flex;
}

.menu{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu li {
    font-size: 16px;
    margin-right: 25px;
}

.menu li a{
    color: #AEAEAE;
    padding: 1px 0;
}

.menu li.apps a{
    border-bottom: 2px solid white;
    color: white;
    /* color: #6bff3d;
    border-top: 1px solid; */
}

.title{
    display: flex;
}

.logo{
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.title-content h1 {
    font-size: 37px;
    font-weight: 900;
    margin-left: 20px;
    text-align: center;
    transition: al 0.5s ease;
    margin-top: 60px;
}

.android{
    margin-left: auto;
    margin-top: 0;
    margin-right: 20px;
}

.row{
    margin-top: 40px;
    margin-left: 10px;
    
}

.column {
    float: left;
    width: 20%;
    padding: 15px;
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    bottom: 0px;
    position: fixed;
    text-align: center;
}


.footertitle{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.gitbutton{
    width: 40px;
    height: 40px;
}

.googleplay{
    width: 40px;
    height: 40px;
}